.container-home {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 90%;
  padding: 5% 3% 5% 3%;
  box-sizing: border-box;
  /* background-color: red; */
}

.saudacoes {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  padding: 0px;
  /* background-color: red; */
}

.saudacoes h1 {
  margin: 1px;
  font-size: 40px;
}

.container-photo {
  display: flex;
  width: 25%;
}

.photo {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}